@font-face {
    font-family: "GoogleSansRegular";
    src: url("~@/assets/fonts/GoogleSans-Regular.otf");
  }
  @font-face {
    font-family: "GoogleSansMedium";
    src: url("~@/assets/fonts/GoogleSans-Medium.otf");
  }
  @font-face {
    font-family: "GoogleSansBold";
    src: url("~@/assets/fonts/GoogleSans-Bold.otf");
  }