
/// Danh sách icon cấu hình thành class
/// Created by nvbinh2 25.12.2020
/// -------------------------------------------------------//


// Các biến vị trí các icon
// Created by nvbinh2 25.12.2020
$space-icon-0: 0px;
$space-icon-40: -40px;
$space-icon-80: -80px;
$space-icon-120: -120px;
$space-icon-160: -160px;
$space-icon-200: -200px;
$space-icon-240: -240px;
$space-icon-280: -280px;
$space-icon-320: -320px;
$space-icon-360: -360px;

// Màu icon 
// Created by nvbinh2 25.12.2020
// $sizes: ("16": 16px, "24": 24px);
$colors:  ("g": "Gray.png", "w": "White.png", "r": "RED.png");
$icons:  ("warning": $space-icon-0, "error": $space-icon-40 $space-icon-0,
          "clear": $space-icon-80 $space-icon-0,
          "close":$space-icon-120 $space-icon-0,
          "people": $space-icon-160 $space-icon-0,
          "add-person": $space-icon-200 $space-icon-0,
          "upload":$space-icon-240 $space-icon-0,
          "delete":$space-icon-280 $space-icon-0,
          "setting":$space-icon-320 $space-icon-0,
          "send":$space-icon-360 $space-icon-0,
          "search":  $space-icon-0 $space-icon-40,
          "save": $space-icon-40 $space-icon-40,
          "reload": $space-icon-80 $space-icon-40,
          "plus": $space-icon-120 $space-icon-40,
          "time": $space-icon-160 $space-icon-40,
          "menu-point": $space-icon-200 $space-icon-40,
          "info": $space-icon-240 $space-icon-40,
          "sent-file": $space-icon-240 $space-icon-40,
          "file": $space-icon-320 $space-icon-40,
          "edit": $space-icon-360 $space-icon-40,
          "download": $space-icon-0 $space-icon-80,
          "duplicate": $space-icon-40 $space-icon-80,
          "expand-after": $space-icon-80 $space-icon-80,
          "expand": $space-icon-120 $space-icon-80,
          "alert":$space-icon-160 $space-icon-80,
          "person-file": $space-icon-200 $space-icon-80,
          "family": $space-icon-240 $space-icon-80,
          "person-profile": $space-icon-280 $space-icon-80,
          "box":$space-icon-320 $space-icon-80,
          "back-arrow": $space-icon-360 $space-icon-80,
          "up-down": $space-icon-80 $space-icon-120,
          "next": $space-icon-120 $space-icon-120,
          "back": $space-icon-160 $space-icon-120,
          "dash": $space-icon-200 $space-icon-120,
          "check": $space-icon-240 $space-icon-120,
          "db-back":$space-icon-280 $space-icon-120,
          "check-circle":$space-icon-320 $space-icon-120,
          "calendar": $space-icon-360 $space-icon-120 );

@each $keyColor,$valueColor in $colors {
    @each $keyIcon,$valueIcon in $icons {
        .ico-#{$keyColor}-#{$keyIcon}{
            background: url("~@/assets/images/#{$valueColor}");
            background-position: $valueIcon;
            width: 16px !important;
            height: 16px !important;
            
        }
    }
}


/// Kích thước icon 24px
/// Created by nvbinh2 25.12.2020
$ico-24-spacer-x-1:0px;
$ico-24-spacer-x-2:-75px;
$ico-24-spacer-x-3:-150px;
$ico-24-spacer-x-4:-225px;
$ico-24-spacer-x-5:-301px;
$ico-24-spacer-x-6:-376px;
$ico-24-spacer-x-7:-451px;
$ico-24-spacer-x-8:-526px;


$ico-24-spacer-y-1:0px;
$ico-24-spacer-y-2:-58px;
$ico-24-spacer-y-3: -116px;
$ico-24-spacer-y-4:-174px;
$ico-24-spacer-y-5:-232px;




$list-icon-24: 
("warning": $ico-24-spacer-x-1 $ico-24-spacer-y-1,
 "error": $ico-24-spacer-x-2 $ico-24-spacer-y-1 ,
 "clear":  $ico-24-spacer-x-3 $ico-24-spacer-y-1 ,
 "close":  $ico-24-spacer-x-4 $ico-24-spacer-y-1 ,
 "people":  $ico-24-spacer-x-5 $ico-24-spacer-y-1 ,
 "add-person":  $ico-24-spacer-x-6 $ico-24-spacer-y-1 ,
 "upload":  $ico-24-spacer-x-7 $ico-24-spacer-y-1 ,
 "delete":  $ico-24-spacer-x-8 $ico-24-spacer-y-1 ,

 "setting": $ico-24-spacer-x-1 $ico-24-spacer-y-2,
 "send": $ico-24-spacer-x-2 $ico-24-spacer-y-2,
 "search": $ico-24-spacer-x-3 $ico-24-spacer-y-2,
 "save": $ico-24-spacer-x-4 $ico-24-spacer-y-2,
  "reload": $ico-24-spacer-x-5 $ico-24-spacer-y-2,
  "plus": $ico-24-spacer-x-6 $ico-24-spacer-y-2,
  "time": $ico-24-spacer-x-7 $ico-24-spacer-y-2,
  "menu-point": $ico-24-spacer-x-8 $ico-24-spacer-y-2,

  "info": $ico-24-spacer-x-1 $ico-24-spacer-y-3,
  "add-file": $ico-24-spacer-x-2 $ico-24-spacer-y-3,
  "file": $ico-24-spacer-x-3 $ico-24-spacer-y-3,
  "edit": $ico-24-spacer-x-4 $ico-24-spacer-y-3,
  "download": $ico-24-spacer-x-5 $ico-24-spacer-y-3,
  "duplicate": $ico-24-spacer-x-6 $ico-24-spacer-y-3,
  "expand-after": $ico-24-spacer-x-7 $ico-24-spacer-y-3,
  "expand": $ico-24-spacer-x-1 $ico-24-spacer-y-3,

  "check-circle": $ico-24-spacer-x-1 $ico-24-spacer-y-4,
  "calendar": $ico-24-spacer-x-2 $ico-24-spacer-y-4,
  "back-arrow": $ico-24-spacer-x-3 $ico-24-spacer-y-4,
  "box": $ico-24-spacer-x-4 $ico-24-spacer-y-4,
  "person-profile": $ico-24-spacer-x-5 $ico-24-spacer-y-4,
  "family": $ico-24-spacer-x-6 $ico-24-spacer-y-4,
  "person-file": $ico-24-spacer-x-7 $ico-24-spacer-y-4,
  "alert": $ico-24-spacer-x-8 $ico-24-spacer-y-4,

  "db-back": $ico-24-spacer-x-1 $ico-24-spacer-y-5,
  "db-check": $ico-24-spacer-x-2 $ico-24-spacer-y-5,
  "db-dash": $ico-24-spacer-x-3 $ico-24-spacer-y-5,
  "clear-circle": $ico-24-spacer-x-4 $ico-24-spacer-y-5,
  "up-down": $ico-24-spacer-x-5 $ico-24-spacer-y-5,
  "next": $ico-24-spacer-x-6 $ico-24-spacer-y-5,
  "back": $ico-24-spacer-x-7 $ico-24-spacer-y-5,
  "filter": $ico-24-spacer-x-8 $ico-24-spacer-y-5,

);

@each $nameIcon,$valueIcon in $list-icon-24 {
    .ico24-g-#{$nameIcon }{
        background-image: url("~@/assets/images/icon24.png");
        background-position: $valueIcon;
        width: 24px;
        height: 24px;
    }
}

