// Class custom margin, padding 10px dành riêng cho mintax
// created by vdthang 04.01.2021
.misa-ma-10 {
    margin: 10px !important;
}

.misa-mx-10 {
    margin: 0 10px !important;
}

.misa-my-10 {
    margin: 10px 0 !important;
}

.misa-mt-10 {
    margin-top: 10px !important;
}

.misa-mr-10 {
    margin-right: 10px !important;
}

.misa-mb-10 {
    margin-bottom: 10px !important;
}

.misa-ml-10 {
    margin-left: 10px !important;
}

.misa-pa-10 {
    padding: 10px !important;
}

.misa-px-10 {
    padding: 0 10px !important;
}

.misa-py-10 {
    padding: 10px 0 !important;
}

.misa-pt-10 {
    padding-top: 10px !important;
}

.misa-pr-10 {
    padding-right: 10px !important;
}

.misa-pb-10 {
    padding-bottom: 10px !important;
}

.misa-pl-10 {
    padding-left: 10px !important;
}

// Class custom độ cao của elements
// Created by vdthang 04.01.2021
.misa-height-24 {
    max-height: 24px !important;
    min-height: 24px !important;
}

.misa-height-32 {
    max-height: 32px !important;
    min-height: 32px !important;
}

.misa-height-40 {
    max-height: 40px !important;
    min-height: 40px !important;
}

.misa-height-48 {
    max-height: 48px !important;
    min-height: 48px !important;
}

.misa-height-56 {
    max-height: 56px !important;
    min-height: 56px !important;
}

// Class custom màu sắc chip status hệ thống
// Created by vdthang 06.01.2021
.misa-chip-primary{
    background-color: $Succes-Secondary !important;

    span{
        color: $Succes-Primary !important;
        font-size: $_font-13 !important;
    }
}

.misa-chip-default{
    background-color: $Hint-Text !important;

    span{
        color: $Body-Menu-Button !important;
        font-size: $_font-13 !important;
    }
}

.misa-chip-secondary{
    background-color: $B-Light-Opacity !important;
    
    span{
        color: $B-Primary !important;
        font-size: $_font-13 !important;
    }
}

.misa-chip-warn{
    background-color: $Warning-Secondary !important;

    span{
        color: $Warning-Primary !important;
        font-size: $_font-13 !important;
    }
}

.misa-chip-error{
    background-color: $Error-Secondary !important;

    span{
        color: $Error-Primary !important;
        font-size: $_font-13 !important;
    }
}

// Class custom lại UI thanh Scroll toàn hệ thống
// Created by vdthang 06.01.2021
*::-webkit-scrollbar-track-piece {
    background-color: $BG-Light;
    box-shadow: unset;
    -webkit-box-shadow: unset;
  }
  
  *::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 50px;
    background-color: $Hint-Text;
    box-shadow: unset;
    -webkit-box-shadow: unset;

    &:hover {
      background-color: $Hint-Text;
    }
  }
  
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }