/* phan dialog */
.dialog-modal {
    /* display: none;*/
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8080806e;
    opacity: 1;
}

.form-dialog {
    /* display: none;*/
    display: none;
    position: absolute;
    border: 5px solid #0973b9;
    border-radius: 3px;
    width: 654px;
    height: 390px;
    background-color: #fff;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    right: 0;
    bottom: 0;
}
    .form-dialog .dialog-titlebar {
        width: 100.5%;
        height: 27px;
        background-color: #0973b9;
        display: flex;
        color: #ffffff;
        margin-left: -2px;
    }
.dialog-titlebar .dialog-titlebar-text {
    align-self: center;
    padding: 5px;
}
.dialog-titlebar .dialog-titlebar-icon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/content/img/Images/cancel.png');
    margin-left: 545px;
    align-self: center;
}
.dialog-titlebar-icon:hover{
    cursor:pointer;
    background-color:#0973b9;   
}
/*dialog body*/
.form-dialog .dialog-content {
    width: 98%;
    height: calc(100% - 60px);
    padding: 9px;
    padding-top: 5px;
    /* font-family: emoji; */
    /* background-color: #00ff21;*/
}
    .dialog-content .dialog-body{
       
        width:100%;
        height:calc(100% - 35px);
        background-color:#ffffff;
    }
    .dialog-body .dialog-information{
        border-bottom:0px;
    }
   
.dialog-body table {
    width: 100%;
    height: 100%;
    border-right: 0px;
}
.dialog-informaton tbody tr {
    width: 100px;
    height: 40px;
}
.lable{
    width: 20%;
  
}
input{
    outline: 1px;
    
}
input:focus{
     outline: 0px; 
    border: 1px solid #0973b9;

    /* height: 100%; */
}
.dialog-in textarea:focus{
    outline: 0px; 
    border: 1px solid #0973b9;
    border-radius: 0%;
}
td input{
    height: 19px;
    width: 80%;
}
.dialog-in #txtcustomerName,#txtemail{
    width: 95%;
}
td input[type="date" i]{
    height: 22px;
}
td select {
    border:1px solid #ccc;
    height: 25px;
    width: 82%;
}
select:focus{
    outline: 0px; 
    border: 1px solid #0973b9;
    border-radius: 0%;
}
.dialog-in #sel-card{
    width: 97%;
}
td #txtTenCongty,#txtDiaChi{
    width:98.5%;
}
td #txtGhichu{
    border:1px solid #ccc;
    width: 98%;
}
td #txtGhichu:focus{
    border:1px solid #0973b9;
    
}
input[type="text" i] {
    padding: 1px 2px;
}
.dialog-body input{
    border:1px solid #ccc;
    height: 19px;
    width: 80%;
    padding: 0px;
    outline: none;
    padding: 1px 1px;
   
}
.dialog-body input:focus{
   border-radius:0% ;
   /* padding: 0px; */
   padding: 1px 1px;
   /* height: 15;
   width: 100%;; */
   border-color: #0973b9;
}
.dialog-body .dialog-in{
    height: 15px;
}
/*dialog footer*/
.dialog-content .dialog-footer {
    height: 35px;
    display: flex;
    /* margin-left: 330px; */
    background-color: #ffffff;
    padding-top: 23px;
    
}
.dialog-footer .dialog-button {
    margin: 5px;
    height: 25px !important;
}
#dialog-btnadd {

    /* background: url(/content/img/Images/IconSprite.png) no-repeat -1px -767px; */
    width: 78px;
    height: 20px; 
    background-image: url('/content/img/Images/diskette.png');
    background-repeat:no-repeat ;
    background-position-x: 3px;
    background-position-y: 3px;
    /* background: url(../../content/img/Images/diskette.png) no-repeat -1px -0px; */
}
#dialog-btnedit {
    width: 130px;
    height: 20px; 
    background-image: url('/content/img/Images/add.png');
    background-repeat:no-repeat ;
    background-position-x: 3px;
    background-position-y: 3px;
}
#dialog-btncancel {
    width: 100px;
    height: 20px; 
    background-image: url('/content/img/Images/cance.png');
    background-repeat:no-repeat ;
    background-position-x: 3px;
    background-position-y: 3px;
}

#dialog-btnhelp{
    width: 88px;
    height: 20px; 
    margin-left: 0px;
    background-image: url('/content/img/Images/iconHelp.png');
    background-repeat:no-repeat ;
    background-position-x: 3px;
    background-position-y: 1px;

}
.dialog-footer  button {
    /* display: flex; */
    /* align-items: center; */
    /* height: 100%; */
    border-radius: unset;
    border-style: solid;
    border-width: 1px;
    border-color: #1614142b;;
}

    .dialog-footer button:hover {
        border-color: #0973b9;
        background-color: #ffffff;
        cursor: pointer;
    }

    .dialog-footer button:focus {
        border-color: #0973b9 !important;
        background-color: #ffffff;
        cursor: pointer;
    }
    .dialog-footer .dialog-footer-left{

    }
    .dialog-footer .dialog-footer-right{
        margin-left: 199px;
    }
    /*.dialog-button button:hover {
    outline: none;
    border: 2px solid #1e32d0;*/
    /*background-color:#ff0000;*/
    /*}
.dialog-footer .dialog-add {
    width:100px;
    height:100%;
    
}
.dialog-add #btnAdd {
    width: 100px;
    height: 100%;
     background-image: url('../../content/img/Images/vector-smart-object.png');
    background-repeat: no-repeat;
    background-color: #9f9999;*/
    /*  background: url('../../content/img/Images/IconSprite.png') no-repeat -1px -2416px;*/
    /*}
.dialog-edit #btnEdit {
    width: 100px;
    height: 100%;
    background-image: url('../../content/img/Images/vector-smart-object.png');
    background-repeat: no-repeat;
    background-color: #9f9999;
}
.dialog-cancel #btnCancel {
    width: 100px;
    height: 100%;
    background-image: url('../../content/img/Images/cancel-invoice.png');
    background-repeat: no-repeat;
    background-color: #9f9999;
}*/
/* add class error */
.required-error{
    border:1px solid #ff0000 !important;
    /* border-color:red ; */
    height: 19px;
    width: 80%;
   
    outline: none;
    padding: 1px 1px !important;
}

