.dialog-modal {
    /* display: none;*/
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8080806e;
    opacity: 1;
}

.form-dialog {
    /* display: none;*/
    display: none;
    position: absolute;
    border: 3px solid #0973b9;
    border-radius: 3px;
    width: 647px;
    height: 490px;
    background-color: #fff;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    right: 0;
    bottom: 0;
}
    .form-dialog .dialog-titlebar {
        width: 100%;
        height: 42px;
        background-color: #0973b9;
        display: flex;
        color: #ffffff;
    }
.dialog-titlebar .dialog-titlebar-text {
    align-self: center;
    padding: 10px;
}
.dialog-titlebar .dialog-titlebar-icon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../content/img/Images/cancel.png');
    margin-left: 510px;
    align-self: center;
}
.dialog-titlebar-icon:hover{
    cursor:pointer;
    background-color:#808080;   
}
/*dialog body*/
.form-dialog .dialog-content {
    width: 98%;
    height: calc(100% - 60px);
    padding: 9px;
    font-family: emoji;
    /* background-color: #00ff21;*/
}
    .dialog-content .dialog-body{
       
        width:100%;
        height:calc(100% - 35px);
        background-color:#ffffff;
    }
    .dialog-body .dialog-information{
        border-bottom:0px;
    }
   
.dialog-body table {
    width: 100%;
    height: 100%;
    border-right: 0px;
}
.dialog-informaton tbody tr {
    width: 100px;
    height: 40px;
}
.lable{
    width: 20%;
  
}

td input{
    height: 25px;
    width:80%;
}
td select{
    height:100%;
    width:85%;
}
td #txtSoDT,#txtTenCongty,txtDiaChi{
    width:93%;
}

/*dialog footer*/
.dialog-content .dialog-footer {
    height: 35px;
    display: flex;
    margin-left: 315px;
    background-color: #ffffff;
}
#dialog-btnadd {
    background: url(../../content/img/Images/IconSprite.png) no-repeat -1px -767px;
    width: 70px;
    height: 22px;
}
#dialog-btnedit {
    background: url(../../content/img/Images/IconSprite.png) no-repeat 0 -1134px;
    width: 125px;
    height: 22px;
}
#dialog-btncancel {
    background: url(../../content/img/Images/IconSprite.png) no-repeat 0 -1966px;
    width: 92px;
    height: 22px;
}
    /*.dialog-button button:hover {
    outline: none;
    border: 2px solid #1e32d0;*/
    /*background-color:#ff0000;*/
    /*}
.dialog-footer .dialog-add {
    width:100px;
    height:100%;
    
}
.dialog-add #btnAdd {
    width: 100px;
    height: 100%;
     background-image: url('../../content/img/Images/vector-smart-object.png');
    background-repeat: no-repeat;
    background-color: #9f9999;*/
    /*  background: url('../../content/img/Images/IconSprite.png') no-repeat -1px -2416px;*/
    /*}
.dialog-edit #btnEdit {
    width: 100px;
    height: 100%;
    background-image: url('../../content/img/Images/vector-smart-object.png');
    background-repeat: no-repeat;
    background-color: #9f9999;
}
.dialog-cancel #btnCancel {
    width: 100px;
    height: 100%;
    background-image: url('../../content/img/Images/cancel-invoice.png');
    background-repeat: no-repeat;
    background-color: #9f9999;
}*/


