body {
}
/*phan content*/
.gird-content{
    width:100%;
    height:calc(100% - 70px);
    overflow:auto; 
}
table {
    border-collapse: collapse;
    width: 100%;
    border-color: #d9d9d9;
    border-style: solid;
    border-left: 0px !important;
    
    border-top: 0px;
}

.gird-content table {
    width: 100%;
    border-collapse: collapse;
}

    .gird-content table td, th {
        padding: 4px;
    }

.gird-content table thead {
    background-color: rgb(239,239,239);
}
    .gird-content table {
        font-family: system-ui;
    }
    .gird-content table tbody tr:hover {
        background-color: #437698;
        cursor: pointer;
    }
