
/*phan gird content*/
.gird-content{
    width:100%;
    height:calc(100% - 70px);
    overflow-x:scroll; 
}
table {
    border-collapse: collapse;
    width: 100%;
    border-color: #d9d9d9;
    border-style: solid;
    border-left: 0px !important;
    
    border-top: 0px;
}

.gird-content table {
    width: 100%;
    border-collapse: collapse;
    /* overflow: scroll; */
}

    .gird-content table td, th {
        padding: 4px;
    }

.gird-content table thead {
    background-color: rgb(239,239,239);
}
    .gird-content table {
        /* font-family: system-ui; */
    }
   

     .gird-content table tbody tr:nth-child(even){
        background-color:#f1f1f1;
    } 
    .gird-content table tbody tr:hover {
        background-color: #437698;
        cursor: pointer;
    }

    .gird-content table tbody .row-selected{
        background-color:hsla(0, 11%, 70%, 0.863)nt;
    } 
.gird-content #titlecode{
    width: 7%;
}
.gird-content #titlename{
    width: 20%;
}
.gird-content #titlecompany{
    width: 15%;
}
.gird-content #title-thue{
    width: 7%;
}
.gird-content #titleaddress{
    width: 30%;
}
.gird-content #titlephone{
    width: 10%;
}
.gird-content #titlebirthday{
    width: 10%;
    text-align: center;
}
.gird-content #titlebirthday td{
    text-align: center !important;
}