/*phan gird content*/
.gird-content{
    width:100%;
    height:calc(100% - 70px);
    overflow-x:scroll; 
}
table {
    border-collapse: collapse;
    width: 100%;
    border-color: #ccc;
    border-style: solid;
    border-left: 0px !important;
    
    border-top: 0px;
}

.gird-content table {
    width: 100%;
    border-collapse: collapse;
    border-right:none ;
    /* overflow: scroll; */
}

    .gird-content table td, th {
        padding: 4px;
        border: 1px solid #ccc;
        border-top: none;
    }

.gird-content table thead {
    background-color: rgb(239,239,239);
}
     .gird-content table tbody tr:nth-child(even){
        background-color:#f1f1f1;
    }
    .gird-content table tbody tr:hover {
        background-color: #d1d7db;
        cursor: pointer;
    }
    .gird-content table tbody .row-selected {
        background-color: #d1d7db !important;
    } 
    .gird-content table td:last-child, th:last-child{
        border-right: none;
    }

    .gird-content table td:first-child, th:first-child{
        border-left: none;
    }
    .gird-content table td {
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 150px;
        overflow: hidden
    }
.gird-content #titleCode{
    width: 10%;
}
.gird-content #titleName{
    width: 13%;
}
.gird-content #titleCompany{
    width: 20%;
}
.gird-content #title-Money{
    width: 10%;
}
.gird-content #titleAddress{
    width: 30%;
}
.gird-content #titlePhone{
    width: 10%;
}
.gird-content #titleBirthday{
    width: 10%;
    text-align: center;
}
.gird-content #titleBirthday td{
    text-align: center !important;
}
.format {
    text-align: center !important;
}
.format-money{
    text-align:right;
}
.format-address{
    text-align:left;
}