body {
}
.paging {
    width: 100%;
    height: 38px !important;
    border-top: 1px solid #d9d9d9;
    display: flex;
    background-color: #d4d4d4;
}
    .paging .paging-content {
        width: 30px;
        height: 30px;
        margin-top:9px;
        background-position-y: 1px;
     
    }
/*paging icon*/
    .paging .page-first {
        background-image: url('/content/img/Images/grid/page-first.png');
        background-repeat:no-repeat;
        margin-left:8px;
    }
    .paging .page-prev {
        background-image: url('/content/img/Images/grid/page-prev.png');
        background-repeat: no-repeat;
    }
    .paging .page-next {
        background-image: url('/content/img/Images/grid/page-next.png');
        background-repeat: no-repeat;
    }
    .paging .page-last {
        background-image: url('/content/img/Images/grid/page-last.png');
        background-repeat: no-repeat;
    }
    .paging .refresh {
        background-image: url('/content/img/Images/grid/refresh.png');
        background-repeat: no-repeat;
    }
    .paging .sort_desc {
        background-image: url('/content/img/Images/grid/sort_desc.png');
        background-repeat: no-repeat;
    }
.paging-content input {
    width: 35px;
    height: 15px;
}
.paging-content:hover{
    cursor:pointer;
   
}
   