@media only screen and (max-width: 1000px) {
    body {
      
    }
    .sidebar{
        /* display: none; */
        width: 36px;
        
    }
    .sidebar .logo{

    }
    .main{
        width: 100%;
    }
    .header-content{
        display: none;
    }
    .icon-down{
        display: block;
    }
    .menu-item-text{
        display: none;
    }
    .menu-item-icon{
        display: block;
    }
    .drop-help-icon{
        display: none;
    }
    #denger{
        display: none;
    }
    .container{
        height: 98%;
    }
  }