<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/css/layout/main.css" rel="stylesheet" />
    <link href="/css/layout/sidebar.css" rel="stylesheet" />
    <link href="/css/common/menu.css" rel="stylesheet" />
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <div class="icon-left-header"></div>
            <div class="logo-text"></div>
        </div>
        <div class="menu">
            <div class="menu-item">
                <div class="menu-item-icon overview-icon"></div>
                <div class="menu-item-text">Tổng quan</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon report-icon"></div>
                <div class="menu-item-text">Báo cáo</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon purchase-icon"></div>
                <div class="menu-item-text">Mua hàng</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon warehouse-icon"></div>
                <div class="menu-item-text">kho</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon cash-fund-icon"></div>
                <div class="menu-item-text">Quỹ tiền mặt</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon deposit-funds-icon"></div>
                <div class="menu-item-text">Quỹ tiền gửi</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon cost-icon"></div>
                <div class="menu-item-text">Chi phí</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon promotion-icon"></div>
                <div class="menu-item-text">Khuyến mại</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon menu-icon"></div>
                <div class="menu-item-text">Thực đơn</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon cacel-bill-icon"></div>
                <div class="menu-item-text ">Hủy hóa đơn</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon category-icon"></div>
                <div class="menu-item-text">Danh mục</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon setting-system-icon"></div>
                <div class="menu-item-text">Thiết lập hệ thống</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon help-icon"></div>
                <div class="menu-item-text">Trợ giúp</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon phone-icon"></div>
                <div class="menu-item-text">Thuê bao</div>
            </div>
        </div>
    </div>
    <div class="main">
       <div class="header">header</div>
        <div class="content">content</div>
    </div>
</body>
</html>