<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/css/layout/main.css" rel="stylesheet" />
    <link href="/css/layout/sidebar.css" rel="stylesheet" />
    <link href="/css/common/menu.css" rel="stylesheet" />
    <link href="/css/common/header.css" rel="stylesheet" />
    <link href="/css/common/toolbar.css" rel="stylesheet" />
    <link href="/css/common/button.css" rel="stylesheet" />
    <link href="/css/common/paging.css" rel="stylesheet" />
    <link href="/css/common/gird.css" rel="stylesheet" />
    <link href="/css/common/dialog.css" rel="stylesheet" />
    <link href="/css/page/category/customer.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body>
    <!--sidebar-->
    <div class="sidebar">
        <div class="logo">
            <div class="icon-left-header"></div>
            <div class="logo-text"></div>
        </div>
        <!--menu-->
        <div class="menu">
            <div class="menu-item">
                <div class="menu-item-icon overview-icon"></div>
                <div class="menu-item-text">Tổng quan</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon report-icon"></div>
                <div class="menu-item-text">Báo cáo</div>
                <div class="menu-item-icon drop-help-icon"></div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon purchase-icon"></div>
                <div class="menu-item-text">Mua hàng</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon warehouse-icon"></div>
                <div class="menu-item-text">kho</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon cash-fund-icon"></div>
                <div class="menu-item-text">Quỹ tiền mặt</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon deposit-funds-icon"></div>
                <div class="menu-item-text">Quỹ tiền gửi</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon cost-icon"></div>
                <div class="menu-item-text">Chi phí</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon promotion-icon"></div>
                <div class="menu-item-text">Khuyến mại</div>
                <div style="color: #ff0000;padding-left: 29px;">new</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon menu-icon"></div>
                <div class="menu-item-text">Thực đơn</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon cacel-bill-icon"></div>
                <div class="menu-item-text ">Hủy hóa đơn</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon category-icon"></div>
                <div class="menu-item-text">Danh mục</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon setting-system-icon"></div>
                <div class="menu-item-text">Thiết lập hệ thống</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon help-icon"></div>
                <div class="menu-item-text">Trợ giúp</div>
                <div class="menu-item-icon drop-help-icon"></div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon phone-icon"></div>
                <div class="menu-item-text">Thuê bao</div>
            </div>
        </div>
    </div>
    <!--phan main-->
    <div class="main">
        <!--main header-->
        <div class="header">
            <div class="header-left">
                <select>
                    <option>Nhà hàng Bảo Trang 1</option>
                    <option>Nhà hàng Bảo Trang 1</option>
                    <option>Nhà hàng Bảo Trang 1</option>
                    <option>Nhà hàng Bảo Trang 1</option>
                </select>
            </div>
            <div class="header-right">
                <div class="header-content icon-down"></div>
                <div class="header-content header-right-name">Cao Bảo Trang</div>
                <div class="header-content person-icon"></div>
                <div class="header-content notification">
                    <i class="fas fa-globe-asia"></i>
                    <div class="notification-index">2</div>
                </div>
                <div class="header-content language">R2.0</div>
            </div>
        </div>
        <!--content-->
        <div class="content">
            <div class="container">
                <div class="content-header">
                    <div class="content-header-main"><h1>Danh mục</h1></div>
                    <div class="content-header-icon"></div>
                    <div class="content-header-sub"><h2>Khách hàng</h2></div>
                </div>
                <div class="content-body">
                    <div class="toolbar">
                        <button id="btnAdd">
                            <div class="btn-icon btn-icon-add"></div>
                            <dic class="btn-text">Thêm</dic>
                        </button>
                        <button id="btnDuplicate">
                            <div class="btn-icon btn-icon-duplicate"></div>
                            <dic class="btn-text">Nhân bản</dic>
                        </button>
                        <button id="btnEdit">
                            <div class="btn-icon btn-icon-edit"></div>
                            <dic class="btn-text">Sửa</dic>
                        </button>
                        <button id="btnDelete">
                            <div class="btn-icon btn-icon-delete"></div>
                            <dic class="btn-text">Xóa</dic>
                        </button>
                        <button id="btnRefresh">
                            <div class="btn-icon btn-icon-refresh"></div>
                            <dic class="btn-text">Nạp</dic>
                        </button>
                    </div>
                    <div class="gird-content">
                        <table class="tbListcustomer" width="100%" border="1">
                            <thead>
                                <tr>
                                    <th>Mã khách hàng</th>
                                    <th>Tên khách hàng</th>
                                    <th>Tên công ty</th>
                                    <th>Mã số thuế</th>
                                    <th>Địa chỉ</th>
                                    <th>Số điện thoại</th>
                                    <th>Ngày sinh</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>KH001</td>
                                    <td>trần thi bánh</td>
                                    <td>cong ty rickit</td>
                                    <td>002222</td>
                                    <td>Hà nội</td>
                                    <td>0989788776</td>
                                    <td>04/1/1999</td>
                                </tr>
                                <tr>
                                    <td>KH002</td>
                                    <td>tran thi a</td>
                                    <td>cong ty rickit</td>
                                    <td>002289</td>
                                    <td>Hà nội</td>
                                    <td>0989788776</td>
                                    <td>04/1/1997</td>
                                </tr>
                                <tr>
                                    <td>KH003</td>
                                    <td>Trần thi anh</td>
                                    <td>công ty rickit</td>
                                    <td>002286</td>
                                    <td>Hà nội</td>
                                    <td>0989788776</td>
                                    <td>04/1/1996</td>
                                </tr>
                                <tr>
                                    <td>KH004</td>
                                    <td>Nguyễn văn tèo</td>
                                    <td>công ty rickit</td>
                                    <td>002235</td>
                                    <td>Hà nội</td>
                                    <td>0989788776</td>
                                    <td>05/1/1998</td>
                                </tr>
                                <tr>
                                    <td>KH005</td>
                                    <td>Trần thị bánh</td>
                                    <td>cong ty rickit</td>
                                    <td>002223</td>
                                    <td>Hà nội</td>
                                    <td>0989788776</td>
                                    <td>04/1/2000</td>
                                </tr>
                                <tr>
                                    <td>KH006</td>
                                    <td>Trần thị cánh</td>
                                    <td>cong ty rickit</td>
                                    <td>002265</td>
                                    <td>Hà nội</td>
                                    <td>0989788776</td>
                                    <td>04/1/1999</td>
                                </tr>
                                <tr>
                                    <td>KH007</td>
                                    <td>Trần thị tánh</td>
                                    <td>cong ty rickit</td>
                                    <td>002434</td>
                                    <td>Hà nội</td>
                                    <td>0989788776</td>
                                    <td>04/1/1999</td>
                                </tr>
                                <tr>
                                    <td>KH008</td>
                                    <td>Tống văn tèo</td>
                                    <td>cong ty rickit</td>
                                    <td>002254</td>
                                    <td>Hà nội</td>
                                    <td>0989788776</td>
                                    <td>04/1/1999</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--paging-->
                    <div class="paging">
                        <div class="paging-content page-first"></div>
                        <div class="paging-content page-prev"></div>
                        <div class="paging-content" style=" font-size: 16px; width: 50px;">
                           Trang
                        </div>
                        <div class="paging-content">
                            <input type="text" value="1" />
                        </div>
                        <div class="paging-content"></div>
                        <div class="paging-content page-next"></div>
                        <div class="paging-content page-last"></div>
                        <div class="paging-content refresh"></div>
                        <div class="paging-content" style="width:87px;font-size:16px">
                            Số bản ghi
                        </div>
                        <div class="paging-content">
                            <select>
                                <option>25</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Form thông tin chi tiết-->
    <div class="dialog-modal">
        <div class="form-dialog">
            <div class="dialog-titlebar">
                <div class="dialog-titlebar-text">Khách hàng</div>
                <div class="dialog-titlebar-icon" id="btnCancel"></div>
            </div>
            <div class="dialog-content">
                <div class="dialog-body">
                    <table class="dialog-information">
                        <tbody>
                            <tr>
                                <td class="lable">Mã khách hàng <span style="color:#ff0000">(*)</span></td>
                                <td><input type="text" required id="txtcustomerCode"/></td>
                                <td>Tên khách hàng<span style="color:#ff0000">(*)</span></td>
                                <td><input type="text" required id="txtcustomerName"/></td>
                            </tr>
                            <tr>
                                <td class="lable">Mã thẻ thành viên</td>
                                <td><input type="text" /></td>
                                <td class="lable">Hạng thẻ</td>
                                <td>
                                    <select>
                                        <option>Thẻ VIP</option>
                                        <option>Thẻ thường</option>
                                    </select>
                                </td>
                            </tr>
                          
                            <tr>
                                <td class="lable">Nhóm khách hàng</td>
                                <td>
                                    <select>
                                        <option>Khách hàng tiềm năng</option>
                                        <option>Khách hàng không tiềm năng</option>
                                    </select>

                                </td>
                            </tr>
                            <tr>
                                <td class="lable">Số Điện thoai</td>
                                <td><input type="text" id="txtdienThoai"/></td>
                            </tr>
                            <tr>
                                <td class="lable">Ngày sinh</td>
                                <td><input type="date" id="txtngaySinh"/></td>
                            </tr>
                            <tr>
                                <td class="lable">Tên công ty</td>
                                <td  colspan="3"><input type="text" id="txtTenCongty" /></td>
                            </tr>
                            <tr>
                                <td class="lable">Mã số thuế</td>
                                <td><input type="text" id="txtcodeThue"/></td>

                                <td class="lable">Email</td>
                                <td><input type="text" id="txtemail"/></td>
                            </tr>
                            <tr>
                                <td class="lable">Địa chỉ</td>
                                <td  colspan="3"><input type="text" id="txtDiaChi" /></td>
                            </tr>
                            <tr>
                                <td class="lable">Ghi chú</td>
                                <td colspan="3">
                                    <textarea id="txtGhichu" rows="2" cols="65"></textarea>
                                </td>
                            </tr>
                            
                        </tbody>

                    </table>
                </div>
<!--dialog footer-->
                <div class="dialog-footer">
                    <!-- <div class="dialog-add dialog-button"><button id="btnAdd">Cất</button></div>
    <div class="dialog-edit dialog-button"><button id="btnEdit">Sửa</button></div>
    <div class="dialog-cancel dialog-button"><button id="btnCancel">Hủy bỏ</button></div>-->
                    <button id="dialog-btnadd" class="dialog-button">
                        <div class="dialog-footer-add dialog-footer-icon"></div>
                        <div class="dialog-footer-text">Cất</div>
                    </button>

                    <button id="dialog-btnedit" class="dialog-button">
                        <div class="dialog-footer-edit dialog-footer-icon"></div>
                        <div class="dialog-footer-text">Cất và thêm</div>
                    </button>

                    <button id="dialog-btncancel" class="dialog-button">
                        <div class="dialog-footer-cancel dialog-footer-icon"></div>
                        <div class="dialog-footer-text">Hủy bỏ</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/jquery-3.5.1.min.js"></script>
    <script src="../../js/customer.js"></script>

</body>
</html>