<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/css/layout/main.css" rel="stylesheet" />
    <link href="/css/layout/sidebar.css" rel="stylesheet" />
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <div class="icon-left-header"></div>
            <div class="logo-text"></div>
        </div>
        <div class="menu">
            <div class="menu-item">
                <div class="menu-item-icon"></div>
                <div class="menu-item-text">Tổng quan</div>
            </div>
            <div class="menu-item"></div>
            <div class="menu-item"></div>
            <div class="menu-item"></div>
        </div>
    </div>
    <div class="main">
       <div class="header">header</div>
        <div class="content">content</div>
    </div>
</body>
</html>