<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/css/layout/main.css" rel="stylesheet" />
    <link href="/css/layout/sidebar.css" rel="stylesheet" />
    <link href="/css/common/menu.css" rel="stylesheet" />
    <link href="/css/common/header.css" rel="stylesheet" />
    <link href="/css/common/toolbar.css" rel="stylesheet" />
    <link href="/css/common/button.css" rel="stylesheet" />
    <link href="/css/common/paging.css" rel="stylesheet" />
    <link href="/css/common/gird.css" rel="stylesheet" />
    <link href="/css/common/dialog.css" rel="stylesheet" />
    <link href="/css/page/category/customer.css" rel="stylesheet" />
    <link href="/css/common/responsive.css" rel="stylesheet" />
    <link href="/css/page/category/employee.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body>
    <!--sidebar-->
    <div class="sidebar">
        <div class="logo">
            <div class="icon-left-header"></div>
            <div class="logo-text"></div>
        </div>
        <!--menu-->
        <div class="menu">
            <div class="menu-item">
                <div class="menu-item-icon overview-icon"></div>
                <a href="customer.html" class="menu-item-text">Tổng quan</a>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon report-icon"></div>
                <a href="employee.html" class="menu-item-text">Báo cáo</a>
                <div class="menu-item-icon drop-help-icon"></div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon purchase-icon"></div>
                <div class="menu-item-text">Mua hàng</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon warehouse-icon"></div>
                <div class="menu-item-text">Kho</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon cash-fund-icon"></div>
                <div class="menu-item-text">Quỹ tiền mặt</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon deposit-funds-icon"></div>
                <div class="menu-item-text">Quỹ tiền gửi</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon cost-icon"></div>
                <div class="menu-item-text">Chi phí</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon promotion-icon"></div>
                <div class="menu-item-text">Khuyến mại</div>
                <div style="color: #ee3304;padding-left: 29px;" id="denger">new</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon menu-icon"></div>
                <div class="menu-item-text">Thực đơn</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon cacel-bill-icon"></div>
                <div class="menu-item-text ">Hủy hóa đơn</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon category-icon"></div>
                <a href="customer.html" class="menu-item-text">Danh mục khách hàng</a>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon category-icon"></div>
                <a href="employee.html" class="menu-item-text">Danh mục nhân viên</a>

            </div>
            <div class="menu-item">
                <div class="menu-item-icon setting-system-icon"></div>
                <div class="menu-item-text">Thiết lập hệ thống</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon help-icon"></div>
                <div class="menu-item-text">Trợ giúp</div>
                <div class="menu-item-icon drop-help-icon"></div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon phone-icon"></div>
                <div class="menu-item-text">Thuê bao</div>
            </div>
        </div>
    </div>
    <!--phan main-->
    <div class="main">
        <!--main header-->
        <div class="header">
            <div class="header-left">
                <select>
                    <option>Nhà hàng Bảo Trang 1</option>
                    <option>Nhà hàng Bảo Trang 1</option>
                    <option>Nhà hàng Bảo Trang 1</option>
                    <option>Nhà hàng Bảo Trang 1</option>
                </select>
            </div>
            <div class="header-right">
                <div class="header-content icon-down"></div>
                <div class="header-content header-right-name">Đàm Văn Quân</div>
                <div class="header-content person-icon"></div>
                <div class="header-content header-support"></div>
                <div class="header-content notification">
                    <i class="fas fa-globe-asia"></i>
                    <div class="notification-index">2</div>
                </div>
                <div class="header-content language">R2.0</div>
            </div>
        </div>
        <!--content-->
        <div class="content">
            <div class="container">
                <div class="content-header">
                    <div class="content-header-main">
                        <h1 style="    font-weight: normal;
                        ">
                            Danh mục
                        </h1>
                    </div>
                    <div class="content-header-icon">
                        <i class="fas fa-caret-right"></i>

                    </div>
                    <div class="content-header-sub">
                        <h2 style="    font-weight: normal;
                        ">
                           Nhân viên
                        </h2>
                    </div>
                </div>
                <div class="content-body">
                    <div class="toolbar">
                        <button id="btnAdd">
                            <div class="btn-icon btn-icon-add"></div>
                            <dic class="btn-text">Thêm</dic>
                        </button>
                        <button id="btnDuplicate">
                            <div class="btn-icon btn-icon-duplicate"></div>
                            <dic class="btn-text">Nhân bản</dic>
                        </button>
                        <button id="btnEdit">
                            <div class="btn-icon btn-icon-edit"></div>
                            <dic class="btn-text">Sửa</dic>
                        </button>
                        <button id="btnDelete">
                            <div class="btn-icon btn-icon-delete"></div>
                            <dic class="btn-text">Xóa</dic>
                        </button>
                        <button id="btnRefresh">
                            <div class="btn-icon btn-icon-refresh"></div>
                            <dic class="btn-text">Nạp</dic>
                        </button>
                    </div>
                    <div class="gird-content">
                        <table class="tblistemployee" width="100%" border="1" id="tbListData">
                            <thead>
                                <tr fieldID="EmployeeID" formatName="employee">
                                    <th fieldName="EmployeeCode" width="100px" id="titleCode">Mã nhân viên</th>
                                    <th fieldName="FullName" id="titleName">Tên nhân viên</th>
                                    <th format="Gender" fieldName="Gender" width="100px" id="titleGender">Giới tính</th>
                                    <th format="Date" fieldName="DateOfBirth" width="100px" id="titleDateOfBirth">Ngày sinh</th>
                                    <th format="Phone" fieldName="Phone" id="titlePhone">Số điện thoại</th>
                                    <th fieldName="Email" id="titleEmail">Email</th>
                                    <th fieldName="DepartmentName" id="titleDepartmentName">Phòng ban</th>
                                    <th format="Money" fieldName="Salary" id="titleMoney">Mức lương</th>
                                    <th fieldName="WorkStatus" id="titleWorkStatus">Tình trạng công việc</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!--paging-->
                    <div class="paging">
                        <div class="paging-content page-first"></div>
                        <div class="paging-content page-prev"></div>
                        <div class="paging-content" style=" font-size: 15px; width: 50px;color: #4a4a4a;">
                            Trang
                        </div>
                        <div class="paging-content">
                            <div style=" width: 39px; height: 23px; margin-top: -4px;">
                                <input type="text" value="1" />
                            </div>
                        </div>
                        <div class="paging-content"></div>
                        <div class="paging-content page-next"></div>
                        <div class="paging-content page-last"></div>
                        <div class="paging-content refresh"></div>
                        <div class="paging-content" style="width:87px;font-size:15px;color: #4a4a4a;">
                            Số bản ghi
                        </div>
                        <div class="paging-content">
                            <div style="width: 39px; height: 23px; margin-top: -4px; ">
                                <input type="text" value="1" />
                            </div>
                        </div>
                        <!-- <div class="paging-content">
                                <div style="width: 51px;height: 21px;    margin-top: -1px;">
                                <select>
                                    <option>25</option>
                                </select>
                            </div>
                        </div>-->

                        <div class="paging-content hd-pop">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Form thông tin chi tiết-->
    <div class="dialog-modal">
        <div class="form-dialog">
            <div class="dialog-titlebar">
                <div class="dialog-titlebar-text">Nhân viên</div>
                <div class="dialog-titlebar-icon" id="btnCancel"></div>
            </div>
            <div class="dialog-content">
                <div class="dialog-body">
                    <table class="dialog-information">
                        <tbody>
                            <tr>
                                <td class="lable">Mã Nhân viên <span style="color:#ff0000">(*)</span></td>
                                <td><div class="dialog-in"><input fieldName="EmployeeCode" type="text" required id="txtEmployeeCode" /></div></td>
                                <td>Tên nhân viên<span style="color:#ff0000">(*)</span></td>
                                <td><div class="dialog-in"><input fieldName="FullName" type="text" required id="txtEmployeeName" /></div></td>
                            </tr>
                            <tr>
                                <td class="lable">Vị trí</td>
                                <td>
                                    <div class="dialog-in">
                                        <select format="select" id="position">
                                            <option value="true">Nhân viên chính thức</option>
                                            <option value="false">Nhân viên thử việc</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="lable">Giới Tính</td>
                                <td>
                                    <div class="dialog-in">
                                        <select format="select" id="gender" fieldName="Gender">
                                            <option value="true">Nam</option>
                                            <option value="false">Nữ</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="lable">Tình trạng</td>
                                <td>
                                    <div class="dialog-in">
                                        <select format="select" fieldName="WorkStatus">
                                            <option value="Đang làm việc">Đang làm việc</option>
                                            <option value="Nghỉ việc">Nghỉ việc</option>
                                        </select>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td class="lable">Số điện thoai</td>
                                <td><div class="dialog-in"><input fieldName="Phone" type="text" id="txtPhone" /></div></td>
                            </tr>
                            <tr>
                                <td class="lable">Ngày sinh</td>
                                <td><div class="dialog-in"><input fieldName="DateOfBirth" format="date" type="date" id="txtDate" /></div></td>
                            </tr>
                            <tr>
                                <td class="lable">Tên công ty</td>
                                <td colspan="3"><div class="dialog-in"><input type="text" id="txtCompanyName" /></div></td>
                            </tr>
                            <tr>
                                <td class="lable">Mức lương</td>
                                <td><div class="dialog-in"><input fieldName="Salary" fomat="number" convertNumber type="text" id="txtSalary" /></div></td>

                                <td class="lable">Email</td>
                                <td><div class="dialog-in"><input fomat="email" fieldName="Email" type="text" requiredEmail id="txtEmail" /></div></td>
                            </tr>
                            <tr>
                                <td class="lable">Phòng ban</td>
                                <td colspan="3"><div class="dialog-in"><input fieldName="DepartmentName" type="text" id="txtDepartmentName" /></div></td>
                            </tr>
                            <tr>
                                <td class="lable">Ghi chú</td>
                                <td colspan="3">
                                    <div class="dialog-in">
                                        <textarea id="txtNote" rows="2" cols="65"></textarea>
                                    </div>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
                <!--dialog footer-->
                <div class="dialog-footer">
                    <div class="dialog-footer-left">
                        <button id="dialog-btnHelp" class="dialog-button">
                            <div class="dialog-footer-help dialog-footer-icon"></div>
                            <div class="dialog-footer-text">Giúp</div>
                        </button>
                    </div>
                    <div class="dialog-footer-right">
                        <button id="dialog-btnAdd" class="dialog-button">
                            <div class="dialog-footer-add dialog-footer-icon"></div>
                            <div class="dialog-footer-text">Cất</div>
                        </button>

                        <button id="dialog-btnEdit" class="dialog-button">
                            <div class="dialog-footer-edit dialog-footer-icon"></div>
                            <div class="dialog-footer-text">Cất và thêm</div>
                        </button>

                        <button id="dialog-btnCancel" class="dialog-button">
                            <div class="dialog-footer-cancel dialog-footer-icon"></div>
                            <div class="dialog-footer-text">Hủy bỏ</div>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <button id="dialog-btnfocus" style="width: 0px;height: 0px;background: white;border: none;">
        </button>
    </div>

    <script src="/js/lib/jquery-3.5.1.min.js"></script>
    <script src="/js/helps/common.js"></script>
    <script src="/js/helps/vadilate.js"></script>
    <script src="/js/base/base.js"></script>
    <script src="/js/page/employee.js"></script>
</body>
</html>