<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/css/layout/main.css" rel="stylesheet" />
    <link href="/css/layout/sidebar.css" rel="stylesheet" />
    <link href="/css/common/menu.css" rel="stylesheet" />
    <link href="/css/common/header.css" rel="stylesheet" />
    <link href="/css/common/toolbar.css" rel="stylesheet" />
    <link href="/css/common/button.css" rel="stylesheet" />
    <link href="/css/common/paging.css" rel="stylesheet" />
    <link href="/css/common/gird.css" rel="stylesheet" />
    <link href="/css/common/dialog.css" rel="stylesheet" />
    <link href="/css/common/dialog-messages.css" rel="stylesheet" />
    <link href="/css/page/category/customer.css" rel="stylesheet" />
    <link href="/css/common/responsive.css" rel="stylesheet" />
    <link href="/css/page/category/employee.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body>
    <!--sidebar-->
    <div class="sidebar">
        <div class="logo">
            <div class="icon-left-header"></div>
            <div class="logo-text"></div>
        </div>
        <!--menu-->
        <div class="menu">
            <div class="menu-item">
                <div class="menu-item-icon overview-icon"></div>
                <a href="customer.html" class="menu-item-text">Tổng quan</a>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon report-icon"></div>
                <a href="employee.html" class="menu-item-text">Báo cáo</a>
                <div class="menu-item-icon drop-help-icon"></div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon purchase-icon"></div>
                <div class="menu-item-text">Mua hàng</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon warehouse-icon"></div>
                <div class="menu-item-text">Kho</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon cash-fund-icon"></div>
                <div class="menu-item-text">Quỹ tiền mặt</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon deposit-funds-icon"></div>
                <div class="menu-item-text">Quỹ tiền gửi</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon cost-icon"></div>
                <div class="menu-item-text">Chi phí</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon promotion-icon"></div>
                <div class="menu-item-text">Khuyến mại</div>
                <div style="color: #ee3304;padding-left: 29px;" id="denger">new</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon menu-icon"></div>
                <div class="menu-item-text">Thực đơn</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon cacel-bill-icon"></div>
                <div class="menu-item-text ">Hủy hóa đơn</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon category-icon"></div>
                <a href="customer.html" class="menu-item-text">Danh mục khách hàng</a>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon category-icon"></div>
                <a href="employee.html" class="menu-item-text">Danh mục nhân viên</a>

            </div>
            <div class="menu-item">
                <div class="menu-item-icon setting-system-icon"></div>
                <div class="menu-item-text">Thiết lập hệ thống</div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon help-icon"></div>
                <div class="menu-item-text">Trợ giúp</div>
                <div class="menu-item-icon drop-help-icon"></div>
            </div>
            <div class="menu-item">
                <div class="menu-item-icon phone-icon"></div>
                <div class="menu-item-text">Thuê bao</div>
            </div>
        </div>
    </div>
    <!--phan main-->
    <div class="main">
        <!--main header-->
        <div class="header">
            <div class="header-left">
                <select>
                    <option>Nhà hàng Bảo Trang 1</option>
                    <option>Nhà hàng Bảo Trang 1</option>
                    <option>Nhà hàng Bảo Trang 1</option>
                    <option>Nhà hàng Bảo Trang 1</option>
                </select>
            </div>
            <div class="header-right">
                <div class="header-content icon-down"></div>
                <div class="header-content header-right-name">Đàm Văn Quân</div>
                <div class="header-content person-icon"></div>
                <div class="header-content header-support"></div>
                <div class="header-content notification">
                    <i class="fas fa-globe-asia"></i>
                    <div class="notification-index">2</div>
                </div>
                <div class="header-content language">R2.0</div>
            </div>
        </div>
        <!--content-->
        <div class="content">
            <div class="container">
                <div class="content-header">
                    <div class="content-header-main">
                        <h1 style="    font-weight: normal;
                        ">
                            Danh mục
                        </h1>
                    </div>
                    <div class="content-header-icon">
                        <i class="fas fa-caret-right"></i>

                    </div>
                    <div class="content-header-sub">
                        <h2 style="    font-weight: normal;
                        ">
                            Nhân viên
                        </h2>
                    </div>
                </div>
                <div class="content-body">
                    <div class="toolbar">
                        <button id="btnAdd">
                            <div class="btn-icon btn-icon-add"></div>
                            <dic class="btn-text">Thêm</dic>
                        </button>
                        <button id="btnDuplicate">
                            <div class="btn-icon btn-icon-duplicate"></div>
                            <dic class="btn-text">Nhân bản</dic>
                        </button>
                        <button id="btnEdit">
                            <div class="btn-icon btn-icon-edit"></div>
                            <dic class="btn-text">Sửa</dic>
                        </button>
                        <button id="btnDelete">
                            <div class="btn-icon btn-icon-delete"></div>
                            <dic class="btn-text">Xóa</dic>
                        </button>
                        <button id="btnRefresh">
                            <div class="btn-icon btn-icon-refresh"></div>
                            <dic class="btn-text">Nạp</dic>
                        </button>
                    </div>
                    <div class="gird-content">
                        <table class="tblistemployee" width="100%" border="1" id="tbListData">
                            <thead>
                                <tr fieldID="EmployeeId" formatName="employee">
                                    <th format="code" fieldName="EmployeeCode" width="100px" id="titleCode">Mã nhân viên</th>
                                    <th fieldName="EmployeeName" id="titleName">Tên nhân viên</th>
                                    <th format="Gender" fieldName="Gender" width="100px" id="titleGender">Giới tính</th>
                                    <th format="Date" fieldName="DateOfBirth" width="100px" id="titleDateOfBirth">Ngày sinh</th>
                                    <th format="Phone" fieldName="PhoneNumber" id="titlePhone">Số điện thoại</th>
                                    <th format="email" fieldName="Email" id="titleEmail">Email</th>
                                    <th fieldName="PositionName" id="titlePosition">Vị trí</th>
                                    <th fieldName="DepartmentName" id="titleDepartmentName">Phòng ban</th>
                                    <th format="Money" fieldName="Salary" id="titleMoney">Mức lương</th>
                                    <th fieldName="WorkStatusName" id="titleWorkStatus">Tình trạng công việc</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!--paging-->
                    <div class="paging">
                        <div class="paging-content page-first"></div>
                        <div class="paging-content page-prev"></div>
                        <div class="paging-content" style="font-size: 15px; width: 50px; color: #4a4a4a;">
                            Trang
                        </div>
                        <div class="paging-content">
                            <div style=" width: 39px; height: 23px; margin-top: -4px;">
                                <input type="text" id="txtPageNext" value="1" />
                            </div>
                        </div>
                        <div class="paging-content"></div>
                        <div class="paging-content page-next"></div>
                        <div class="paging-content page-last"></div>
                        <div class="paging-content refresh"></div>
                        <div class="paging-content" style="width:87px;font-size:15px;color: #4a4a4a;">
                            Số bản ghi
                        </div>
                        <div class="paging-content">
                            <div style="width: 39px; height: 23px; margin-top: -4px;">
                                <input type="text" id="numberOfPages" value="1" />
                            </div>
                        </div>
                        <div class="paging-content hd-pop">

                        </div>
                    </div>
                    <!--endpaging-->
                </div>
            </div>
        </div>
    </div>
    <!--Form thông tin chi tiết-->
    <div class="dialog-modal">
        <div class="form-dialog dialog-employee">
            <div class="dialog-titlebar">
                <div class="dialog-titlebar-text">Thông tin nhân viên</div>
                <div class="dialog-titlebar-icon" id="btnCancel" style="margin-left: 555px;"></div>
            </div>
            <div class="dialog-content" style="width: 98%;">
                <div class="dialog-body">

                    <table class="dialog-information">
                        <tbody>

                            <tr>
                                <td colspan="6"><div style="font-weight:bold">Thông tin chung <hr /></div></td>
                            </tr>
                            <tr>
                                <td class="lable">Mã Nhân viên<span style="color:#ff0000">(*)</span></td>
                                <td colspan="3"><div class="dialog-in"><input code format="code" fieldName="EmployeeCode" type="text" required id="txtEmployeeCode" requireName="mã nhân viên" /></div></td>
                                <td rowspan="6">
                                    <div style="width:100%;height:100%">
                                        <div class="avatar-box">
                                            <button class="ct-btn ct-btn-avatar btn-select-avatar">...</button>
                                            <button class="ct-btn ct-btn-avatar btn-remove-avatar icon-cancel" disabled></button>

                                        </div>
                                        <span> Chỉ được upload tệp <br /><b>.jpg .jpeg, .png, .gif</b></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Tên nhân viên<span style="color:#ff0000">(*)</span></td>
                                <td colspan="3"><div class="dialog-in"><input fieldName="EmployeeName" type="text" required id="txtEmployeeName" style="width:96%" requireName="tên nhân viên" /></div></td>
                            </tr>
                            <tr>
                                <td class="lable">Ngày sinh</td>
                                <td><div class="dialog-in"><input fieldName="DateOfBirth" format="date" type="date" id="txtDate" /></div></td>
                                <td class="lable"><span class="tb-right-top">Giới Tính</span></td>
                                <td>
                                    <div class="dialog-in">
                                        <select format="select" id="gender" fieldName="Gender" style="width: 92.1%;">
                                            <option value="0">Nam</option>
                                            <option value="1">Nữ</option>
                                            <option value="2">Khác</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="lable">Email <span style="color:#ff0000">(*)</span></td>
                                <td colspan="3"><div class="dialog-in"><input fomat="email" fieldName="Email" type="text" requiredEmail id="txtEmail" required requireName="email" /></div></td>
                            </tr>
                            <tr>
                                <td class="lable">DT di động <span style="color:#ff0000">(*)</span></td>
                                <td colspan="3"><div class="dialog-in"><input fieldName="PhoneNumber" type="text" id="txtPhone" style="width:96.2%;" required requireName="số điện thoại" /></div></td>
                            </tr>
                            <tr>
                                <td class="lable">Số CMT/HC</td>
                                <td><div class="dialog-in"><input fieldName="IdentityNumber" type="text" id="txtIdentityNumber" /></div></td>
                                <td class="lable"><span class="tb-right-top">Ngày cấp</span></td>
                                <td><div class="dialog-in"><input fieldName="IdentityDate" format="date" type="date" id="txtDate" style="width: 89%;" /></div></td>
                            </tr>
                            <tr>
                                <td class="lable">Nơi cấp CMND</td>
                                <td colspan="5"><div class="dialog-in"><input fieldName="IdentityPlace" type="text" id="txtCmmt" style="width:99.5%" /></div></td>
                            </tr>
                            <tr>
                                <td colspan="6"><div style="font-weight:bold">Thông tin công việc <hr /></div></td>
                            </tr>
                            <tr>
                                <td class="lable">Vị trí</td>
                                <td colspan="4">
                                    <div class="dialog-in">
                                        <select fieldName="PositionId" id="possition" style=" width: 100.2%;">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="lable">Phòng ban</td>
                                <td colspan="4">
                                    <div class="dialog-in">
                                        <select fieldName="DepartmentId" id="department" style=" width: 100.2%;">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="lable">Mã số thuế cá nhân </td>
                                <td><div class="dialog-in"><input fieldName="TaxCode" type="text" id="txtThue" /></div></td>
                                <td class="lable"><span class="tb-right-butoom">Mức lương</span></td>
                                <td colspan="2">
                                    <div class="dialog-in" style=" width: 230px;">
                                        <input fieldName="Salary" format="number" convertNumber type="text" id="txtSalary" style="width: 98.5%;text-align:right;padding-right: 50px;" />
                                        <i style=" position: absolute; margin-left: 234px; margin-top: -21px;">(VND)</i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="lable">Ngày sinh</td>
                                <td><div class="dialog-in"><input fieldName="DateOfBirth" format="date" type="date" id="txtDate" /></div></td>
                                <td class="lable"><span class="tb-right-butoom">Tình trạng</span></td>
                                <td colspan="2">
                                    <div class="dialog-in">
                                        <select format="select" fieldName="WorkStatus" style="width: 100.4%;">
                                            <option value="0">Đang làm việc</option>
                                            <option value="1">Nghỉ việc</option>
                                        </select>
                                    </div>

                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
                <!--dialog footer-->
                <div class="dialog-footer">
                    <div class="dialog-footer-left">
                        <button id="dialog-btnHelp" class="dialog-button">
                            <div class="dialog-footer-help dialog-footer-icon"></div>
                            <div class="dialog-footer-text">Giúp</div>
                        </button>
                    </div>
                    <div class="dialog-footer-right" style="        margin-left: 265.2px;">
                        <button id="dialog-btnAdd" class="dialog-button">
                            <div class="dialog-footer-add dialog-footer-icon"></div>
                            <div class="dialog-footer-text">Cất</div>
                        </button>

                        <button id="dialog-btnEdit" class="dialog-button">
                            <div class="dialog-footer-edit dialog-footer-icon"></div>
                            <div class="dialog-footer-text">Cất và thêm</div>
                        </button>

                        <button id="dialog-btnCancel" class="dialog-button">
                            <div class="dialog-footer-cancel dialog-footer-icon"></div>
                            <div class="dialog-footer-text">Hủy bỏ</div>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <button id="dialog-btnfocus" style="        width: 0px;
        height: 0px;
        background: #8a8a8a00;
        border: none;">
        </button>
    </div>
    <!--Form Message-->
    <div class="dialog-modal-messages">
        <div class="form-message">
            <div class="dialog-titlebar">
                <div class="dialog-titlebar-text">Thông báo</div>
            </div>
            <div class="message-icon"></div>
            <div class="message-title">aaaaaaaaaaaaaaaaaaaaaaaa</div>
            <div class="button-icon">
                <button id="btnMessageOk">có</button>
                <button id="btnMessageCancel">không</button>
            </div>

        </div>
    </div>
    <!--end Form mesage-->
    <!--Form Message warning-->
    <div class="dialog-modal-messages-warning">
        <div class="form-message-warning">
            <div class="dialog-titlebar">
                <div class="dialog-titlebar-text">Thông báo</div>
            </div>
            <div class="message-icon-warning"></div>
            <div class="message-title-warning"></div>
            <div class="button-icon">
                <button id="btnWarning">Đồng ý</button>

            </div>

        </div>
    </div>
    <!--end Form mesage-->
    <script src="/js/lib/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/lib/mousetrap.min.js"></script>
    <script src="/js/helps/common.js"></script>
    <script src="/js/helps/vadilate.js"></script>
    <script src="/js/base/base.js"></script>
    <script src="/js/page/employee.js"></script>
</body>
</html>