/// Custom lại checkbox
/// Created by nvnguyen 05/01/2021
/// --------------------------------------------------------------------///

.v-input--selection-controls.v-input--checkbox {
    margin: 0 !important;
    padding: 0 !important;

    .v-input__control {
      height: 20px !important;

      .v-input__slot{
        width: 20px !important;
      }

      .v-input--selection-controls__ripple{
        width: 0;
        height: 0;
      }

      .v-input--selection-controls__input{
        color: $Hint-Text !important;

        width: 20px;
        height: 20px;
        margin: 0;
      }
    }

  }

