/// Custom lại class select list cho ô input
/// Created by nvbinh2 29.12.2020
/// --------------------------------------------------------------------///

@import "../variables.scss";

.v-select {
  .v-input__slot[role="combobox"] {
    // padding:0 0 !important;

    .v-select__slot {
      .v-input__append-inner {
        padding-right: 0px;
      }
      [class~="v-input__append-inner"]:last-of-type {
        border-left: 1px solid $Hint-Text;
        padding: 0 12px;
      }
    }

    &:hover {
      background-color: $BG-White;
      [class~="v-input__append-inner"]:last-of-type {
        background-color: $BG-Light;
      }
    }
    
  }
}

