
@import "../variables.scss";
.v-date-picker-table.v-date-picker-table--date{
    padding: 0px;
    table {
        tbody {
            tr {
                td {
                button {
                    min-width: 0px;
                    background-color: $BG-White;

                    &:hover{
                        background-color: $BG-Light;

                    }
                    &:active{
                        background-color: $B-Primary;
                    }
                }
                button.v-btn--active{
                    background-color: $B-Primary;
                    color: $BG-White;
                }
            }
            }
        }
        thead{
            tr {
                th{
                    height: 36px;
                    width: 36px;
                }
            }
        }
    }
}


