
@import "~@/styles/variables";
.v-dialog__content[role=document]{
    .v-dialog {
        .v-card{
            .v-card__title{
                position: relative;
                padding: 24px 24px;

                .v-icon {
                    position: absolute;
                    right:24px;
                    cursor: pointer;
                }
            }

            .v-card__actions{
                border-top: 1px solid $Hint-Text;
                padding: 10px 24px;
                justify-content: flex-end;

                button{
                    margin-left: 10px;
                }
            }
        }


    }
}