
.container{
    padding:10px;
    height:98.9%;
}
/*phan  header*/
.content-header{
    width:100%;
    height:60px;
    display:flex;
    background-color:#fff;
}
    .content-header .content-header-main {
        margin-top: -16px;
       
    }
    .content-header .content-header-icon i{
        font-size: 30px;
        color: #0094ff;
        padding: 10px;
        
    }
    .content-header .content-header-sub {
        margin-top: -7px;
        color:#0094ff;
    }

/*phan body*/
.content-body {
    position: relative;
    height: calc(100% - 60px);
    border: 1px solid #a9a9a9;
    background-color: #fbf8f8;
    top: 1px;
    right: 1px;
    left: 0.5px;
    bottom: 1px;
}
    .content-body .gird-content {
        height: calc(100% - 70px);
    }
/*footer paging*/
    .content-body .paging {
        width: 100%;
        height: 10px;
        background-color: #fbf8f8;
       
    }
