body {
    margin: 0px;
    display: flex;
    font-family: 'fontello','Tahoma_Regular';
    font-size:15px;

}
.main{
    width:calc(100% - 200px);
    height:100vh;
    position:relative;
}

    .main .content {
        width: 100%;
        height: calc(100% - 62px);
    }

@font-face {
    font-family: 'fontello';
    src: url('/content/font/fontello.woff') format('woff');
}
@font-face {
    font-family: 'Tahoma_Bold';
    src: url('/content/font/Tahoma_Bold.woff') format('woff');
}
@font-face {
    font-family: 'Tahoma_Regular';
    src: url('/content/font/Tahoma_Regular.woff') format('woff');
}