body {
  margin:0px;
  display:flex;
}
.main{
    width:calc(100% - 200px);
    background-color:#00ff21;
    height:100vh;
}

    .main .content {
        width: 100%;
        height: calc(100% - 50px);
        background-color: #0026ff;    
    }