
/*css for sidebar*/
.sidebar{
    width:200px;
    background-color:#0094ff;
    height:100vh;
}
    .sidebar .logo {
        height: 50px;
        width: 100%;
        background-color: #0973b9;
        display: flex;
        padding-left: 13px;
    }
.logo .icon-left-header {
    width: 25px;
    height: 100%;
    background-image: url('/content/img/images/icon-left-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 2px;
}
.logo .logo-text {
    width: 100%;
    height: 100%;
    background-image: url('/content/img/images/logo-text.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 16px;
}
.logo .icon-left-header:hover{
    cursor: pointer;
}

